# object files
*.o

# libraries
*.so

# ROOT library maps
*.rootmap

# ROOT dictionaries
G__*.cxx
G__*.h

# binaries
/bin/*

# other folders
/backup
/images

# personal config files
/config/config.cfg

# calib_manager log file
calib_manager.log
